openapi: '3.0.2'
info:
  title: FoREST
  version: '1.0'
servers:
  - url: https://backend.mdma.haveachin.de/
  - url: http://localhost:8080

# ENDPOINTS ########################################################################

paths:
  /mesh-nodes/{uuid}:
    parameters:
      - $ref: "#/components/parameters/UUID"
    get:
      tags:
        - Mesh-Nodes
      responses:
        200:
          description: OK.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetMeshNode"
    put:
      tags:
        - Mesh-Nodes
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PutMeshNode"
      responses:
        200:
          description: OK.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetMeshNode"
    delete:
      tags:
        - Mesh-Nodes
      responses:
        204:
          description: OK.

  /mesh-nodes:
    get:
      tags:
        - Mesh-Nodes
      responses:
        200:
          description: OK.
          content:
            application/json:
              schema:
                type: array
                minItems: 1
                items:
                  $ref: "#/components/schemas/GetMeshNode"
    post:
      tags:
        - Mesh-Nodes
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostMeshNode"
      responses:
        201:
          description: Created.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GetMeshNode"

  /mesh-nodes/{uuid}/data:
    parameters:
      - $ref: "#/components/parameters/UUID"
    post:
      tags:
        - Mesh-Nodes
        - Data
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostData"
      responses:
        201:
          description: Created.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GetSingleData"

  /data/aggregated:
    get:
      tags:
        - Data
      parameters:
        - name: type
          in: query
          required: true
          schema:
            type: string
        - name: meshNodes
          in: query
          required: false
          description: if not given, all mesh nodes are considered
          schema:
            type: array
            items:
              $ref: "#/components/schemas/UUID"
        - name: measuredStart
          in: query
          required: false
          description: if not given, all measurements up to now are considered
          schema:
            type: string
            format: date-time
        - name: measuredEnd
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: sampleDuration
          in: query
          required: false
          description: mutually exclusive with sampleCount, but either sampleDuration or sampleCount must be given
          schema:
            type: string
            example: "4h12m3s"
            description: format is described here https://pkg.go.dev/time#example-ParseDuration.
        - name: sampleCount
          in: query
          required: false
          description: mutually exclusive with sampleDuration, but either sampleDuration or sampleCount must be given
          schema:
            type: integer
        - name: aggregateFunction
          in: query
          required: true
          description: required if sampleCount is given
          schema:
            type: string
            enum:
              - range
              - count
              - minimum
              - maximum
              - sum
              - median
              - average
      description: If no parameter is given the latest value for each type is returned.
      responses:
        200:
          description: OK.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAggregatedData"

  /data:
    get:
      tags:
        - Data
      parameters:
        - name: type
          in: query
          required: true
          schema:
            type: string
        - name: meshNodes
          in: query
          required: false
          description: if not given, all mesh nodes are considered
          schema:
            type: array
            items:
              $ref: "#/components/schemas/UUID"
        - name: measuredStart
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: measuredEnd
          in: query
          required: false
          schema:
            type: string
            format: date-time
      description: If no parameter is given the latest value for each type is returned.
      responses:
        200:
          description: OK.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetData"

  /data/{uuid}:
    parameters:
      - $ref: "#/components/parameters/UUID"
    get:
      tags:
        - Data
      responses:
        200:
          description: OK.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetSingleData"   
        400:
          description: Bad Request.
    delete:
      tags:
        - Data
      responses:
        204:
          description: No Content.
        400:
          description: Bad Request.
        404:
          description: Not Found.

  /data/types:
    get:
      tags:
        - Data
      responses:
        200:
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  
  /login:
    post:
      tags:
        - User-Accounts
        - Login
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Credentials"
      responses:
        200:
          description: OK.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Token"
        400:
          description: Bad Request.
  /logout:
    post:
      tags:
        - User-Accounts
        - Login
      responses:
        200:
          description: OK.

  /accounts/users:
    get:
      tags:
        - User-Accounts
      responses:
        200:
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GetUserAccount"
    post:
      tags:
        - User-Accounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostUserAccount"
      responses:
        201:
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetUserAccount"
        400:
          description: Bad Request.
    
  /accounts/users/{id}:
    parameters:
      - $ref: "#/components/parameters/ID"
    get:
      tags:
        - User-Accounts
      responses:
        200:
          description: OK.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetUserAccount"
        400:
          description: Bad Request.
    put:
      tags:
        - User-Accounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserAccount"
      responses:
        200:
          description: OK.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetUserAccount"
        400:
          description: Bad Request.
    delete:
      tags:
        - User-Accounts
      responses:
        204:
          description: No Content.
        400:
          description: Bad Request.
        404:
          description: Not Found.

  /accounts/services:
    get:
      tags:
        - Service-Accounts
      responses:
        200:
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GetServiceAccount"
    post:
      tags:
        - Service-Accounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ServiceAccount"
      responses:
        201:
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetServiceAccount"
        400:
          description: Bad Request.
    
  /accounts/services/{id}:
    parameters:
      - $ref: "#/components/parameters/ID"
    get:
      tags:
        - Service-Accounts
      responses:
        200:
          description: OK.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetServiceAccount"
        400:
          description: Bad Request.
    put:
      tags:
        - Service-Accounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ServiceAccount"
      responses:
        200:
          description: OK.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetServiceAccount"
        400:
          description: Bad Request.
    delete:
      tags:
        - Service-Accounts
      responses:
        204:
          description: No Content.
        400:
          description: Bad Request.
        404:
          description: Not Found.

  /roles:
    get:
      tags:
        - Roles
      responses:
        200:
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GetRole"
    post:
      tags:
        - Roles
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Role"
      responses:
        201:
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetRole"
        400:
          description: Bad Request.

  /roles/{id}:
    parameters:
      - $ref: "#/components/parameters/ID"
    get:
      tags:
        - Roles
      responses:
        200:
          description: OK.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetRole"
        400:
          description: Bad Request.
    put:
      tags:
        - Roles
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Role"
      responses:
        200:
          description: OK.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetRole"
        400:
          description: Bad Request.
    delete:
      tags:
        - Roles
      responses:
        204:
          description: No Content.
        400:
          description: Bad Request.
        404:
          description: Not Found.
    
  /roles/permissions:
    get:
      tags:
        - Roles
      responses:
        200:
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Permission"

  /update:
    get:
      tags:
        - Updates
      responses:
        200:
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GetUpdate"
    post:
      tags:
        - Updates
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Update"
      responses:
        201:
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetUpdate"
        400:
          description: Bad Request.

  /update/{id}:
    parameters:
      - $ref: "#/components/parameters/ID"
    get:
      tags:
        - Updates
      responses:
        200:
          description: OK.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetUpdate"
        400:
          description: Bad Request.
    delete:
      tags:
        - Updates
      responses:
        204:
          description: No Content.
        400:
          description: Bad Request.
        404:
          description: Not Found.
            
  /update/{id}/error:
    parameters:
      - $ref: "#/components/parameters/ID"
    get:
      tags:
        - Updates
      responses:
        200:
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GetUpdateError"
    post:
      tags:
        - Updates
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateError"
      responses:
        201:
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetUpdateError"
        400:
          description: Bad Request.

  /update/{updateId}/error/{errorId}:
    parameters:
      - name: updateId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/ID"
      - name: errorId
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/ID"
    get:
      tags:
        - Updates
      responses:
        200:
          description: OK.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetUpdateError"
        400:
          description: Bad Request.

# SCHEMAS ####################################################################################

components:
  schemas:
    UUID:
      type: string
      example: "0cc56633-05ae-4cc3-8f71-801f429caeca"
    
    ID:
      type: integer
      example: 1337

    ResourceWithUUID:
      type: object
      properties:
        uuid:
          $ref: "#/components/schemas/UUID"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    ResourceWithID:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/ID"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    
    Credentials:
      type: object
      properties:
        username:
          type: string
          example: H4r4ldD3rH4ck3r
        password:
          type: string
          example: changeme

    Token:
      type: object
      properties:
        token:
          type: string
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c

    Update:
      type: object
      properties:
        data:
          type: string
          example: UG9seWZvbiB6d2l0c2NoZXJuZCBhw59lbiBNw6R4Y2hlbnMgVsO2Z2VsIFLDvGJlbiwgSm9naHVydCB1bmQgUXVhcms=
        version:
          type: string
          example: 1.0.0
      
    GetUpdate:
      allOf:
        - $ref: "#/components/schemas/ResourceWithID"
        - $ref: "#/components/schemas/Update"

    UpdateError:
      type: object
      properties:
        controllerId:
          $ref: "#/components/schemas/ID"
        updateId:
          $ref: "#/components/schemas/ID"
        message:
          type: string
          example: Error while updating.

    GetUpdateError:
      allOf:
        - $ref: "#/components/schemas/UpdateError"
      type: object
      properties:
        id:
          $ref: "#/components/schemas/ID"
        createdAt:
          type: string
          format: date-time

    UserAccount:
      type: object
      properties:
        username:
          type: string
          example: H4r4ldD3rH4ck3r
        roleId:
          type: integer
          example: 42

    GetUserAccount:
      allOf:
        - $ref: "#/components/schemas/ResourceWithID"
        - $ref: "#/components/schemas/UserAccount"

    PostUserAccount:
      allOf:
        - $ref: "#/components/schemas/ResourceWithID"
        - $ref: "#/components/schemas/UserAccount"
      type: object
      properties:
        password:
          type: string
          example: changeme
    
    ServiceAccount:
      type: object
      properties:
        username:
          type: string
          example: Gateway1
        roleId:
          type: integer
          example: 42

    GetServiceAccount:
      allOf:
        - $ref: "#/components/schemas/ResourceWithID"
        - $ref: "#/components/schemas/ServiceAccount"

    Role:
      type: object
      properties:
        name:
          type: string
          example: "admin"
        permissions:
          type: array
          items:
            type: string
            example:
              - controller_create
              - sensor_data_read

    GetRole:
      allOf:
        - $ref: "#/components/schemas/ResourceWithID"
        - $ref: "#/components/schemas/Role"

    Permission:
      type: string
      example: sensor_data_read
        

    MeshNode:
      type: object
      properties:
        updateId:
          $ref: "#/components/schemas/ID"
        latitude:
          type: number
          example: 49.127327
        longitude:
          type: number
          example: 9.264715

    GetMeshNode:
      allOf:
        - $ref: "#/components/schemas/ResourceWithUUID"
        - $ref: "#/components/schemas/MeshNode"

    PostMeshNode:
      allOf:
        - type: object
          properties:
            uuid:
              $ref: "#/components/schemas/UUID"
        - $ref: "#/components/schemas/MeshNode"

    PutMeshNode:
      $ref: "#/components/schemas/MeshNode"

    GetData:
      type: array
      items:
        type: object
        properties:
          type:
            type: string
            example: "temperature"
          data:
            type: array
            items:
              type: object
              properties:
                mesh-nodeUUID:
                  type: string
                  format: uuid
                  example: "f858ff4f-7315-4d66-938d-8bd871e3e216"
                measurements:
                  type: array
                  items:
                    type: object
                    properties:
                      UUID:
                        $ref: "#/components/schemas/UUID"
                      measuredAt:
                        type: string
                        format: date-time
                      value:
                        type: string
                        example: "23.23423"

    GetAggregatedData:
      type: array
      items:
        type: object
        properties:
          aggregationFunction:
            type: string
            example: "average"
          type:
            type: string
            example: "temperature"
          meshNodeUUIDs:
            type: array
            items:
              $ref: "#/components/schemas/UUID"
          samples:
            type: array
            items:
              type: object
              properties:
                firstMeasurementAt:
                  type: string
                  format: date-time
                lastMeasurementAt:
                  type: string
                  format: date-time
                value:
                  type: string
                  example: "23.23423"

    SingleData:
      type: object
      properties:
        measuredAt:
          type: string
          format: date-time
        type:
          type: string
          example: "temperature"
        value:
          type: string
          example: "23.23423"

    PostData:
      $ref: "#/components/schemas/SingleData"

    GetSingleData:
      allOf:
        - $ref: "#/components/schemas/ResourceWithUUID"
        - $ref: "#/components/schemas/SingleData"

  parameters:
    UUID:
      name: uuid
      in: path
      required: true
      schema:
        $ref: "#/components/schemas/UUID"
    ID:
      name: id
      in: path
      required: true
      schema:
        $ref: "#/components/schemas/ID"

